<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
    <ul>
      <form method="POST" action="/urls/<%= shortURL %>/update"><li><b>ShortURL:</b> <%= shortURL %> - <%= lurl %></li><input type="text" name="urlName"><button>Update</button></form>
      <a href='/urls'><h2>View urls</h2></a>

      <a href='/u/<%= shortURL %>'><h2>Use your link!</h2>
        <br>
        <p onclick="return false">localhost:8080/u/<%= shortURL %></p>
    </ul>
</body>
</html>